@import url("https://fonts.googleapis.com/css2?family=Readex+Pro:wght@160..700&family=Space+Grotesk:wght@300..700&display=swap");
.dark-theme {
  --primary: #c61a34;
  --white: #2b2a2a;
  --black: #f1f1f1;
  --light-black: #242222;
  --grey: #b0b0b0;
  --dark-grey: #a7a7a7;
  --startpage-btn: #cb1a35;
  --primary-btn: #da1c39;
  --btn-white: #2c2a2b;
  --btn-black: #f1f1f1;
  --btn-white-white: #f1f1f1;
  --start-page-bg: #222222;
  --red-font: #e32a45;
  --icon-color: #f1f1f1;
  --black-rgb: 241, 241, 241;
  --black-rgb2: 0, 0, 0;
  --bg-color: #212020;
  --hover: #333333;
  --green: #25813d;
}

.light-theme {
  --primary: #da1c39;
  --white: #f1f1f1;
  --black: #2c2a2a;
  --light-black: #d6d6d6;
  --grey: #808080;
  --dark-grey: #606060;
  --startpage-btn: #cb1a35;
  --primary-btn: #da1c39;
  --btn-white: #f1f1f1;
  --btn-black: #2c2a2a;
  --btn-white-white: #f1f1f1;
  --start-page-bg: #f1f1f1;
  --red-font: #c61a34;
  --icon-color: #1b1b1b;
  --black-rgb: 44, 42, 42;
  --black-rgb2: 0, 0, 0;
  --bg-color: #ebebeb;
  --hover: #d6d6d6;
  --green: #27af4b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: var(--white);
  font-family: "Readex Pro", sans-serif;
  color: var(--black);
  overflow-x: hidden;
}

p {
  margin-bottom: 16px;
  font-family: "Readex Pro", sans-serif;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 16px;
  font-family: "Readex Pro", sans-serif;
  font-weight: 600;
}

.site-wrapper {
  height: 100%;
  width: 100%;
}

.app {
  height: 100%;
  width: 100%;
}

.bg-wrapper {
  margin-left: 48px;
  margin-top: 0;
  width: calc(100vw - 48px);
  padding: 12px 10px;
  background-color: var(--light-black);
}

@media screen and (max-width: 900px) {
  .bg-wrapper {
    margin-left: 0px;
    width: 100vw;
    background-color: var(--white);
  }
}
.content-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: var(--white);
  border-radius: 10px;
}

a {
  font-family: "Readex Pro", sans-serif;
}

.backbtn {
  border: 1px solid var(--black);
  text-decoration: none;
  color: var(--black);
  padding: 16px 18px;
  margin: 10px;
  border-radius: 40px;
  position: absolute;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0 0 var(--primary-btn);
  transition: all 0.2s ease-out;
}
.backbtn:hover {
  box-shadow: inset 30em 0 var(--black);
  cursor: pointer;
  color: var(--white);
}

.app-container {
  height: 100%;
  max-height: 100%;
  display: flex;
  overflow-y: hidden;
}

.mobile-overflow {
  overflow: hidden;
}

.start-background {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: var(--start-page-bg);
}

.startpage-background {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  height: 120vh;
  width: 120vw;
}

.start {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.start-header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 3px;
}
.start-header h1 {
  color: var(--black);
  font-size: 110px;
  text-align: center;
  z-index: 2;
}
.start-header h1 span {
  color: var(--primary);
}
.start-header .type-wrap {
  margin: 10px auto 0 auto;
  font-family: "Readex Pro", sans-serif;
  font-weight: 300;
  font-size: 16px;
  z-index: 2;
}
.start-header .type-wrap .typed {
  animation: none;
  color: var(--black);
}
.start-header .type-wrap .typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
  margin-left: 0px;
  color: var(--black);
}
.start-header a {
  z-index: 2;
  margin-top: 40px;
  border: 1px solid var(--black);
  padding: 10px 20px;
  border-radius: 40px;
  font-family: "Readex Pro", sans-serif;
  font-weight: 300;
  text-decoration: none;
  color: var(--black);
  font-size: 16px;
  box-shadow: inset 0 0 var(--startpage-btn);
  transition: all 0.2s ease-out;
}
.start-header a i {
  font-size: 14px;
  margin-left: 8px;
}
.start-header a:hover {
  box-shadow: inset 16em 0 var(--black);
  cursor: pointer;
  color: var(--white);
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.login-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--start-page-bg);
}

.login {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.login h1 {
  color: var(--white);
  font-size: 40px;
}
.login h1 span {
  color: var(--primary);
}
.login input {
  border: none;
  border-bottom: 2px solid var(--primary);
  background-color: var(--start-page-bg);
  width: 100%;
  height: 100%;
  font-family: "Readex Pro", sans-serif;
  font-size: 20px;
  padding: 10px 0 4px 34px;
  color: var(--black);
}
.login input:focus {
  outline: none;
  border-bottom: 2px solid var(--primary);
  box-shadow: none;
}
.login .loginbtn {
  border: 1px solid var(--btn-black);
  padding: 14px;
  width: 280px;
  font-family: "Readex Pro", sans-serif;
  font-weight: 300;
  border-radius: 40px;
  position: relative;
  background-color: var(--start-page-bg);
  box-shadow: inset 0 0 var(--primary-btn);
  transition: all 0.3s ease-out;
  margin-top: 30px;
  color: var(--btn-black);
}
.login .loginbtn i {
  position: absolute;
  right: 20px;
  top: 16px;
}
.login .loginbtn:hover {
  box-shadow: inset 30em 0 var(--btn-black);
  cursor: pointer;
  color: var(--btn-white);
}

.login.light input {
  border-bottom: 2px solid var(--black);
  background-color: var(--start-page-bg);
  width: 100%;
  height: 100%;
  font-family: "Readex Pro", sans-serif;
  font-size: 20px;
  padding: 10px 0 4px 34px;
  color: var(--black);
}
.login.light input:focus {
  outline: none;
  border-bottom: 2px solid var(--primary);
  box-shadow: none;
}
.login.light h1 span {
  color: var(--black);
}

.user-login-input {
  width: 360px;
  height: 44px;
  position: relative;
  margin: 18px 0;
}
.user-login-input i {
  position: absolute;
  bottom: 12px;
  left: 4px;
  color: var(--grey);
  font-size: 16px;
}

.login-btns {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.googlebtn {
  border: 1px solid var(--btn-black);
  padding: 14px 16px;
  font-family: "Readex Pro", sans-serif;
  font-weight: 300;
  border-radius: 40px;
  position: relative;
  box-shadow: inset 0 0 var(--primary-btn);
  transition: all 0.3s ease-out;
  margin-top: 28px;
  background-color: var(--start-page-bg);
  color: var(--btn-black);
}
.googlebtn:hover {
  box-shadow: inset 30em 0 var(--btn-black);
  cursor: pointer;
  color: var(--btn-white);
}

.login-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px;
}
.login-bottom p {
  font-size: 14px;
  margin: 0;
  color: var(--black);
}
.login-bottom a {
  text-decoration: none;
  font-size: 14px;
  color: var(--red-font);
  margin-left: 8px;
  transition: ease 0.2s;
}
.login-bottom a:hover {
  color: var(--black);
}

@media screen and (max-width: 600px) {
  .user-login-input {
    width: 310px;
  }
  .login .loginbtn {
    width: 230px;
  }
}
nav {
  position: fixed;
  height: 100vh;
}

.desktop-nav {
  display: flex;
  align-items: left;
  justify-content: space-between;
  height: 100%;
  width: 58px;
  flex-direction: column;
  background-color: var(--light-black);
}

.navlogo {
  text-decoration: none;
  margin: 22px auto 0px auto;
  border-bottom: 1px solid rgba(var(--black-rgb), 0.3);
}
.navlogo img {
  height: 32px;
  width: 32px;
  margin-bottom: 10px;
}

.nav-search {
  position: relative;
  width: 600px;
  height: 48px;
}
.nav-search i {
  position: absolute;
  bottom: 16px;
  left: 14px;
}

.nav-search-input {
  background-color: var(--white);
  border: none;
  font-family: "Readex Pro", sans-serif;
  border: 2px solid var(--black);
  height: 100%;
  width: 100%;
  border-radius: 40px;
  padding: 16px 10px 16px 38px;
  font-size: 16px;
}
.nav-search-input:focus {
  outline: none;
  border: 1px solid var(--black);
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
}

.nav-profile-picture {
  width: 100%;
  margin: 0 auto 22px auto;
  padding-top: 16px;
  text-decoration: none;
  color: var(--white);
  height: 42px;
  width: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid rgba(var(--black-rgb), 0.3);
}
.nav-profile-picture img {
  height: 30px;
  width: 30px;
  border-radius: 40px;
  transition: ease 0.02s;
}
.nav-profile-picture:hover .profile-links {
  display: flex;
  transition: ease 1s;
}

.nav-links-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  padding: 10px 0;
}

.nav-chat {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  width: 100%;
}
.nav-chat .link-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 100%;
  transition: ease 0.1s;
}
.nav-chat .link-wrap a {
  text-decoration: none;
  color: var(--icon-color);
  text-align: center;
  width: 100%;
}
.nav-chat .link-wrap a i {
  font-size: 22px;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  width: 100%;
}
.nav-links .link-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  width: 100%;
  transition: ease 0.1s;
}
.nav-links .link-wrap a {
  text-decoration: none;
  color: var(--icon-color);
  text-align: center;
  width: 100%;
}
.nav-links .link-wrap a i {
  font-size: 24px;
}
.nav-links .link-wrap .groups svg {
  height: 24px;
}
.nav-links .link-wrap:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

a[data-tooltip] {
  position: relative;
  font-family: "Readex Pro", sans-serif;
}
a[data-tooltip]:after, a[data-tooltip]:before {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: transform 200ms ease, opacity 200ms;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 99;
}
a[data-tooltip]:before {
  content: attr(data-tooltip);
  background: #000;
  color: #fff;
  font-size: 14px;
  padding: 10px 14px;
  border-radius: 5px;
  white-space: nowrap;
  text-decoration: none;
  letter-spacing: 1px;
}
a[data-tooltip]:after {
  width: 0;
  height: 0;
  border: 6px solid transparent;
  content: "";
}
a[data-tooltip]:hover:after, a[data-tooltip]:hover:before {
  visibility: visible;
  opacity: 0.85;
  transform: translateY(0px);
}

a[data-tooltip][data-position=right]:before {
  top: -5%;
  left: 100%;
  margin-left: 10px;
}

a[data-tooltip][data-position=right]:after {
  border-right-color: #000;
  border-left: none;
  top: calc(50% - 6px);
  left: calc(100% + 4px);
}

@keyframes slide-right {
  0% {
    transform: translate(-100vw, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes blur-background {
  0% {
    background-color: rgba(var(--black), 0);
    backdrop-filter: blur(0px);
  }
  100% {
    background-color: rgba(var(--black), 0.3);
    backdrop-filter: blur(4px);
  }
}
.mobile-close {
  background-color: rgba(var(--black), 0.3);
  backdrop-filter: blur(4px);
  height: 100vh;
  width: 100vw;
  display: none;
  top: -100vh;
  position: relative;
  z-index: 1;
}

.mobile-close.open {
  display: flex;
  animation: blur-background 0.25s ease-in-out;
}

.mobile-nav {
  height: 100%;
  width: 280px;
  display: flex;
  z-index: 19;
  position: relative;
  transition: ease 0.3s;
  transform: translate(-100vw, 0);
}

.mobile-nav.open {
  animation: slide-right 0.2s ease-in-out;
  transform: translate(0, 0);
}

.mobile-menu {
  background-color: var(--light-black);
  height: 100%;
  width: 280px;
  padding: 60px 0 40px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.mobile-menu .mobile-nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
.mobile-menu .mobile-nav-links .link-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  width: 100%;
  transition: ease 0.1s;
  margin-top: 30px;
}
.mobile-menu .mobile-nav-links .link-wrap a {
  text-decoration: none;
  color: var(--black);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: left;
  width: 100%;
  font-weight: 300;
  font-size: 18px;
  letter-spacing: 1px;
  margin-left: 68px;
}
.mobile-menu .mobile-nav-links .link-wrap a i {
  font-size: 27px;
  margin-right: 18px;
  margin-left: 2px;
}
.mobile-menu .mobile-nav-links .link-wrap .mb-home svg {
  height: 40px;
  margin-bottom: 4px;
  margin-right: 8px;
  margin-left: -7px;
}
.mobile-menu .mobile-nav-links .link-wrap .groups svg {
  height: 28px;
  margin-right: 16px;
}
.mobile-menu .mobile-nav-links .link-wrap:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.mobile-menu .mobile-nav-profile-picture {
  width: 100%;
  margin: 0 auto 10px auto;
  text-decoration: none;
  color: var(--black);
  height: 42px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 300;
  letter-spacing: 0.5px;
}
.mobile-menu .mobile-nav-profile-picture img {
  height: 42px;
  width: 42px;
  border-radius: 40px;
  transition: ease 0.02s;
  margin-right: 16px;
  border: 1px solid var(--black);
}
.mobile-menu .mobile-nav-profile-picture:hover .profile-links {
  display: flex;
  transition: ease 1s;
}

.hamburger-menu {
  margin: 14px;
  height: 40px;
  width: 40px;
  animation: slide-left 0.15s ease-in-out;
  position: absolute;
  z-index: 20;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
}
.hamburger-menu span {
  background-color: var(--black);
  height: 3px;
  margin-top: 6px;
  border-radius: 20px;
}
.hamburger-menu .line1,
.hamburger-menu .line3 {
  width: 26px;
}
.hamburger-menu .line2 {
  width: 17px;
  margin-left: -9px;
}

@keyframes slide-left {
  0% {
    transform: translate(218px, -12px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes slide-right-2 {
  0% {
    transform: translate(-100vw, 0);
  }
  100% {
    transform: translate(218px, -12px);
  }
}
.hamburger-menu.open {
  animation: slide-right-2 0.15s ease-in-out;
  transform: translate(218px, -12px);
}

.open .line1 {
  background-color: var(--black);
}

.open .line2 {
  background-color: var(--black);
  margin-left: 9px;
}

.open .line3 {
  background-color: var(--black);
}

@media screen and (max-width: 900px) {
  .desktop-nav {
    display: none;
  }
  .hamburger-menu {
    display: flex;
  }
}
.signoutbtn {
  border: 1px solid var(--btn-black);
  padding: 14px;
  width: 200px;
  font-family: "Readex Pro", sans-serif;
  font-weight: 300;
  border-radius: 40px;
  background-color: var(--bg-color);
  box-shadow: inset 0 0 var(--light-black);
  transition: all 0.3s ease-out;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--black);
}
.signoutbtn i {
  margin: 2px 18px 0 0;
}
.signoutbtn p {
  margin: 0;
  margin-right: 18px;
}
.signoutbtn:hover {
  box-shadow: inset 30em 0 var(--primary-btn);
  border: 1px solid var(--primary-btn);
  cursor: pointer;
  color: var(--btn-white-white);
}

.pf-editbtn {
  border: 1px solid var(--btn-black);
  padding: 14px;
  width: 200px;
  font-family: "Readex Pro", sans-serif;
  font-weight: 300;
  border-radius: 40px;
  background-color: var(--bg-color);
  box-shadow: inset 0 0 var(--light-black);
  transition: all 0.3s ease-out;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--black);
}
.pf-editbtn i {
  margin: 2px 18px 0 0;
}
.pf-editbtn p {
  margin: 0;
  margin-right: 18px;
}
.pf-editbtn:hover {
  box-shadow: inset 30em 0 var(--green);
  border: 1px solid var(--green);
  cursor: pointer;
  color: var(--btn-white-white);
}

.pf-savebtn {
  border: 1px solid var(--btn-black);
  padding: 14px;
  width: 200px;
  font-family: "Readex Pro", sans-serif;
  font-weight: 300;
  border-radius: 40px;
  background-color: var(--bg-color);
  box-shadow: inset 0 0 var(--light-black);
  transition: all 0.3s ease-out;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--black);
}
.pf-savebtn i {
  margin: 2px 18px 0 -10px;
}
.pf-savebtn p {
  margin: 0;
  margin-right: 18px;
  margin-left: -10px;
}
.pf-savebtn:hover {
  box-shadow: inset 30em 0 var(--green);
  border: 1px solid var(--green);
  cursor: pointer;
  color: var(--btn-white-white);
}

.pf-cancelbtn {
  border: 1px solid var(--btn-black);
  padding: 14px;
  width: 200px;
  font-family: "Readex Pro", sans-serif;
  font-weight: 300;
  border-radius: 40px;
  background-color: var(--bg-color);
  box-shadow: inset 0 0 var(--light-black);
  transition: all 0.3s ease-out;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--black);
}
.pf-cancelbtn i {
  margin: 2px 18px 0 -10px;
}
.pf-cancelbtn p {
  margin: 0;
  margin-right: 18px;
  margin-left: -10px;
}
.pf-cancelbtn:hover {
  box-shadow: inset 30em 0 var(--primary-btn);
  border: 1px solid var(--primary-btn);
  cursor: pointer;
  color: var(--btn-white-white);
}

.profile-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 750px;
  width: 500px;
  background-color: var(--bg-color);
  border-radius: 40px;
  position: relative;
  z-index: 5;
  margin-right: 18px;
}
.profile-wrapper .fa-xmark {
  position: absolute;
  right: 20px;
  top: 18px;
  font-size: 20px;
  color: var(--black);
  padding: 10px 12px;
  border-radius: 20px;
  cursor: pointer;
  transition: ease 0.3s;
}
.profile-wrapper .fa-xmark:hover {
  background-color: var(--hover);
}

.pf-close {
  width: 100vw;
  height: 100vh;
  background-color: rgba(var(--black-rgb2), 0.2);
  backdrop-filter: blur(2px);
  position: absolute;
  left: 0;
  z-index: 1;
}

.profile-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin-left: -50px;
  position: absolute;
}

.profile-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-top: 1px solid rgba(var(--black-rgb), 0.1);
  border-bottom: none;
}
.profile-info p {
  margin: 0;
}
.profile-info:last-child {
  border-bottom: 1px solid rgba(var(--black-rgb), 0.1);
}
.profile-info input {
  background-color: var(--bg-color);
  font-family: "Readex Pro", sans-serif;
  padding: 7px;
  border: 1px solid var(--black);
  border-radius: 40px;
  width: 200px;
  color: var(--black);
}
.profile-info input:focus {
  outline: none;
  border: 1px solid var(--black);
  box-shadow: none;
  background-color: var(--start-page-bg);
}
.profile-info .pf-color {
  width: 26px;
  height: 26px;
  margin-right: 6px;
  padding: 0;
  border: none;
}
.profile-info .pf-color:focus {
  outline: none;
  border: none;
  box-shadow: none;
  background-color: none;
}

.profile-user-info {
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
.profile-user-info .profile-pfp {
  border-radius: 150px;
  height: 130px;
  width: 130px;
  margin: 0 auto;
  margin-bottom: 40px;
  border: 2px solid var(--black);
}

.theme {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid rgba(var(--black-rgb), 0.1);
  width: 100%;
}
.theme p {
  margin: 0;
}
.theme select {
  background-color: var(--bg-color);
  color: var(--black);
  font-family: "Readex Pro", sans-serif;
  padding: 10px 0px 10px 10px;
  border-radius: 10px;
  font-size: 14px;
  border: none;
}
.theme select:focus {
  outline: none;
  border: none;
  box-shadow: none;
}
.theme select:hover {
  background-color: var(--light-black);
}

@media screen and (max-width: 900px) {
  .profile-container {
    margin-left: 0;
  }
  .profile-wrapper {
    width: 345px;
    margin: 0;
  }
  .profile-wrapper .profile-user-info .profile-info p {
    font-size: 14px;
  }
  .profile-wrapper .theme {
    display: none;
  }
}
.home-wrapper {
  height: 100%;
  width: 100%;
}

.welcome {
  margin: 50px;
}
.welcome h1 {
  font-size: 26px;
}

.home-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 90%;
}

.home-box {
  width: 80%;
  margin-top: 50px;
}
.home-box h2 {
  margin-left: 6px;
}
.home-box h2 span {
  color: var(--primary);
}

.home-docs {
  background-color: var(--light-black);
  width: 100%;
  height: 300px;
  border-radius: 30px;
}

.home-chats {
  background-color: var(--light-black);
  width: 100%;
  height: 200px;
  border-radius: 30px;
}

@media screen and (max-width: 900px) {
  .home-box h2 {
    margin: 16px 0;
    text-align: center;
  }
}

/*# sourceMappingURL=styles.css.map */
