* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: var(--white);
  font-family: $readex;
  color: var(--black);
  overflow-x: hidden;
}

p {
  margin-bottom: 16px;
  font-family: $readex;
  font-weight: $reg;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 16px;
  font-family: $readex;
  font-weight: $semib;
}

.site-wrapper {
  height: 100%;
  width: 100%;
  background-color: var(--light-black);
}

.app {
  height: 100%;
  width: 100%;
}

.bg-wrapper {
  margin-left: 48px;
  margin-top: 0;
  width: calc(100vw - 48px);
  padding: 12px 10px;
  background-color: var(--light-black);
}
@media screen and (max-width: 900px) {
  .bg-wrapper {
    margin-left: 0px;
    width: 100vw;
    background-color: var(--white);
  }
}

.content-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: var(--white);
  border-radius: 10px;
}

.content-wrapper3 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: var(--white);
  border-radius: 10px;
  margin-left: 4px;
}

.nothing {
  height: 100%;
  width: 100%;
  background-color: var(--light-black);
}

.content-wrapper-v2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: var(--light-black);
  border-radius: 10px;
  overflow-x: hidden;
}

a {
  font-family: $readex;
}

.backbtn {
  border: 1px solid var(--black);
  text-decoration: none;
  color: var(--black);
  padding: 16px 18px;
  margin: 10px;
  border-radius: 40px;
  position: absolute;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0 0 var(--primary-btn);
  transition: all 0.2s ease-out;
  &:hover {
    box-shadow: inset 30em 0 var(--black);
    cursor: pointer;
    color: var(--white);
  }
}

.app-container {
  height: 100%;
  max-height: 100%;
  display: flex;
  overflow-y: hidden;
}

.mobile-overflow {
  overflow: hidden;
}

@import url("https://fonts.googleapis.com/css2?family=Readex+Pro:wght@160..700&family=Space+Grotesk:wght@300..700&display=swap");
