.doc-editor-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chat-container {
  background-color: var(--white);
  border-radius: 10px;
  height: 100%;
  width: 360px;
}

.doc-file-container {
  position: relative;
}

.doc-file-btn {
  z-index: 99;
  position: absolute;
  top: 134px;
  right: 34px;
  border: 1px solid var(--white);
  padding: 14px 14px;
  font-family: $readex;
  font-weight: $reg;
  border-radius: 40px;
  font-size: 20px;
  box-shadow: inset 0 0 var(--white);
  transition: all 0.3s ease-out;
  background-color: var(--black);
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover,
  &.active {
    box-shadow: inset 30em 0 var(--light-black);
    border: 1px solid var(--btn-black);
    cursor: pointer;
    color: var(--black);
  }

  i {
    width: 20px;
    height: 20px;
  }
}

.file-btn-options {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 10px;
  background-color: var(--light-black);
  box-shadow: 0px 4px 10px rgba(var(--black-rgb), 0.05);
  border: 2px solid var(--white);
  padding: 10px;
  border-radius: 16px;
  position: absolute;
  top: 190px;
  right: 28px;
  z-index: 30;

  .file-btn-delete {
    color: var(--red-font) !important;
    &:hover {
      background-color: var(--red-font) !important;
      color: var(--btn-white-white) !important;
    }
  }

  .fileBtn {
    width: 40px;
    height: 40px;
    font-size: 16px;
    font-family: $readex;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    background: none;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    transition: ease 0.12s;
    color: var(--black);

    &:hover {
      background-color: var(--white);
    }
  }
}

@media screen and (max-width: 900px) {
  .chat-container {
    display: none;
  }
  .editor-container {
    width: 100vw !important;
    .doc-file-container {
      display: none;
    }
    .editor-wrapper {
      width: 100vw !important;

      .editor-tools-wrapper {
        display: none;
      }
      .scroll-wrapper {
        width: 100vw !important;
        overflow-x: hidden;
        top: 50px;
        right: 10px;
        .docseditor-container {
          width: 100vw;
          overflow-x: hidden;
          margin: 0 auto;

          .element {
            width: 90vw;
            margin: 0 auto;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1490px) {
  .doc-file-container {
    .doc-file-btn {
      right: 15px;
      top: 124px;
    }
    .file-btn-options {
      right: 10px;
    }
  }
}
// SWAPY STUFF
// SWAPY STUFF
// SWAPY STUFF

.swapy-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.swapy-item-slot {
  height: 100%;
  border-radius: 10px;
}

.swapy-drag {
  cursor: grab;
  position: absolute;
  width: 360px;
  border-radius: 10px 10px 0 0;
  background-color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  svg {
    height: 20px;
    color: var(--black);
  }
}

// SWAPY STUFF
// SWAPY STUFF
// SWAPY STUFF
