nav {
  position: fixed;
  height: 100vh;
  z-index: 1000;
  width: 58px;
}

.desktop-nav {
  display: flex;
  align-items: left;
  justify-content: space-between;
  height: 100%;
  width: 58px;
  flex-direction: column;
  background-color: var(--light-black);
}

.navlogo {
  text-decoration: none;
  margin: 22px auto 0px auto;
  img {
    height: 32px;
    width: 32px;
    margin-bottom: 10px;
  }
  border-bottom: 1px solid rgba($color: var(--black-rgb), $alpha: 0.3);
}

.nav-profile-picture {
  width: 100%;
  margin: 0 auto 22px auto;
  padding-top: 16px;
  text-decoration: none;
  color: var(--white);
  height: 42px;
  width: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid rgba($color: var(--black-rgb), $alpha: 0.3);
  cursor: pointer;
  img {
    height: 30px;
    width: 30px;
    border-radius: 40px;
    transition: ease 0.02s;
  }
  &:hover .profile-links {
    display: flex;
    transition: ease 1s;
  }
}
.nav-links-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  padding: 10px 0;
}

.nav-chat {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  width: 100%;

  .link-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 100%;
    transition: ease 0.1s;
    a {
      text-decoration: none;
      color: var(--icon-color);
      text-align: center;
      width: 100%;
      i {
        font-size: 22px;
      }
    }
  }
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  width: 100%;

  .link-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 100%;
    transition: ease 0.1s;
    a {
      text-decoration: none;
      color: var(--icon-color);
      text-align: center;
      width: 100%;
      i {
        font-size: 24px;
      }
    }

    .groups {
      svg {
        height: 24px;
      }
    }
    &:hover {
      background-color: rgba($color: #000000, $alpha: 0.1);
    }
  }
}

a[data-tooltip],
img[data-tooltip] {
  position: relative;
  font-family: $readex;

  &:after,
  &:before {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: transform 200ms ease, opacity 200ms;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 99;
  }

  &:before {
    content: attr(data-tooltip);
    background: #000;
    color: #fff;
    font-size: 14px;
    padding: 10px 14px;
    border-radius: 5px;
    white-space: nowrap;
    text-decoration: none;
    letter-spacing: 1px;
  }

  &:after {
    width: 0;
    height: 0;
    border: 6px solid transparent;
    content: "";
  }

  &:hover:after,
  &:hover:before {
    visibility: visible;
    opacity: 0.85;
    transform: translateY(0px);
  }
}

a[data-tooltip][data-position="right"]:before {
  top: -5%;
  left: 100%;
  margin-left: 10px;
}

a[data-tooltip][data-position="right"]:after {
  border-right-color: #000;
  border-left: none;
  top: calc(50% - 6px);
  left: calc(100% + 4px);
}

img[data-tooltip][data-position="bottom"]:before {
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 10px;
}

img[data-tooltip][data-position="bottom"]:after {
  border-top-color: #000;
  border-bottom: none;
  top: calc(100% + 4px);
  left: 50%;
  transform: translateX(-50%);
}

@keyframes slide-right {
  0% {
    transform: translate(-100vw, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes blur-background {
  0% {
    background-color: rgba($color: var(--black), $alpha: 0);
    backdrop-filter: blur(0px);
  }
  100% {
    background-color: rgba($color: var(--black), $alpha: 0.3);
    backdrop-filter: blur(4px);
  }
}

.mobile-close {
  background-color: rgba($color: var(--black), $alpha: 0.3);
  backdrop-filter: blur(4px);
  height: 100vh;
  width: 100vw;
  display: none;
  top: -100vh;
  position: relative;
  z-index: 7;
}

.mobile-close.open {
  display: flex;
  animation: blur-background 0.25s ease-in-out;
}

.mobile-nav {
  height: 100%;
  width: 280px;
  display: flex;
  z-index: 19;
  position: relative;
  transition: ease 0.3s;
  transform: translate(-100vw, 0);
}

.mobile-nav.open {
  animation: slide-right 0.2s ease-in-out;
  transform: translate(0, 0);
}

.mobile-menu {
  background-color: var(--light-black);
  height: 100%;
  width: 280px;
  padding: 60px 0 40px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
  z-index: 10;
  .mobile-nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;

    .link-wrap {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 70px;
      width: 100%;
      transition: ease 0.1s;
      margin-top: 30px;
      a {
        text-decoration: none;
        color: var(--black);
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: left;
        width: 100%;
        font-weight: $reg;
        font-size: 18px;
        letter-spacing: 1px;
        margin-left: 68px;
        i {
          font-size: 27px;
          margin-right: 18px;
          margin-left: 2px;
        }
      }
      .mb-home {
        svg {
          height: 40px;
          margin-bottom: 4px;
          margin-right: 8px;
          margin-left: -7px;
        }
      }
      .groups {
        svg {
          height: 28px;
          margin-right: 16px;
        }
      }
      &:hover {
        background-color: rgba($color: #000000, $alpha: 0.2);
      }
    }
  }
  .mobile-nav-profile-picture {
    width: 100%;
    margin: 0 auto 10px auto;
    text-decoration: none;
    color: var(--black);
    height: 42px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: $reg;
    letter-spacing: 0.5px;
    img {
      height: 42px;
      width: 42px;
      border-radius: 40px;
      transition: ease 0.02s;
      margin-right: 16px;
      border: 1px solid var(--black);
    }
    &:hover .profile-links {
      display: flex;
      transition: ease 1s;
    }
  }
}

.hamburger-menu {
  margin: 14px;
  height: 40px;
  width: 40px;
  animation: slide-left 0.15s ease-in-out;
  position: absolute;
  z-index: 20;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  span {
    background-color: var(--black);
    height: 3px;
    margin-top: 6px;
    border-radius: 20px;
  }
  .line1,
  .line3 {
    width: 26px;
  }
  .line2 {
    width: 17px;
    margin-left: -9px;
  }
}

@keyframes slide-left {
  0% {
    transform: translate(218px, -12px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes slide-right-2 {
  0% {
    transform: translate(-100vw, 0);
  }
  100% {
    transform: translate(218px, -12px);
  }
}

.hamburger-menu.open {
  animation: slide-right-2 0.15s ease-in-out;
  transform: translate(218px, -12px);
}

.open .line1 {
  background-color: var(--black);
}
.open .line2 {
  background-color: var(--black);
  margin-left: 9px;
}
.open .line3 {
  background-color: var(--black);
}

@media screen and (max-width: 900px) {
  .desktop-nav {
    display: none;
  }
  nav {
    width: 0px;
  }
  .hamburger-menu {
    display: flex;
  }
}
