.home-wrapper {
  height: 100%;
  width: 100%;
}
.welcome {
  margin: 50px;
  h1 {
    font-size: 26px;
  }
}

.home-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 90%;
}

.home-box {
  width: 80%;
  margin-top: 50px;
  h2 {
    margin-left: 6px;
    span {
      color: var(--red-font);
    }
  }
}

.home-docs {
  background-color: var(--light-black);
  width: 100%;
  height: 300px;
  border-radius: 30px;
}

.home-chats {
  background-color: var(--light-black);
  width: 100%;
  height: 200px;
  border-radius: 30px;
}

@media screen and (max-width: 900px) {
  .home-box {
    h2 {
      margin: 16px 0;
      text-align: center;
    }
  }
}
