.signoutbtn {
  border: 1px solid var(--btn-black);
  padding: 14px;
  width: 200px;
  font-family: $readex;
  font-weight: $reg;
  border-radius: 40px;
  background-color: var(--bg-color);
  box-shadow: inset 0 0 var(--light-black);
  transition: all 0.3s ease-out;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--black);
  i {
    margin: 2px 18px 0 0;
  }
  p {
    margin: 0;
    margin-right: 18px;
  }
  &:hover {
    box-shadow: inset 30em 0 var(--primary-btn);
    border: 1px solid var(--primary-btn);
    cursor: pointer;
    color: var(--btn-white-white);
  }
}

.pf-editbtn {
  border: 1px solid var(--btn-black);
  padding: 14px;
  width: 200px;
  font-family: $readex;
  font-weight: $reg;
  border-radius: 40px;
  background-color: var(--bg-color);
  box-shadow: inset 0 0 var(--light-black);
  transition: all 0.3s ease-out;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--black);
  i {
    margin: 2px 18px 0 0;
  }
  p {
    margin: 0;
    margin-right: 18px;
  }
  &:hover {
    box-shadow: inset 30em 0 var(--green);
    border: 1px solid var(--green);
    cursor: pointer;
    color: var(--btn-white-white);
  }
}

.pf-savebtn {
  border: 1px solid var(--btn-black);
  padding: 14px;
  width: 200px;
  font-family: $readex;
  font-weight: $reg;
  border-radius: 40px;
  background-color: var(--bg-color);
  box-shadow: inset 0 0 var(--light-black);
  transition: all 0.3s ease-out;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--black);
  i {
    margin: 2px 18px 0 -10px;
  }
  p {
    margin: 0;
    margin-right: 18px;
    margin-left: -10px;
  }
  &:hover {
    box-shadow: inset 30em 0 var(--green);
    border: 1px solid var(--green);
    cursor: pointer;
    color: var(--btn-white-white);
  }
}

.pf-cancelbtn {
  border: 1px solid var(--btn-black);
  padding: 14px;
  width: 200px;
  font-family: $readex;
  font-weight: $reg;
  border-radius: 40px;
  background-color: var(--bg-color);
  box-shadow: inset 0 0 var(--light-black);
  transition: all 0.3s ease-out;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--black);
  i {
    margin: 2px 18px 0 -10px;
  }
  p {
    margin: 0;
    margin-right: 18px;
    margin-left: -10px;
  }
  &:hover {
    box-shadow: inset 30em 0 var(--primary-btn);
    border: 1px solid var(--primary-btn);
    cursor: pointer;
    color: var(--btn-white-white);
  }
}

.profile-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 750px;
  width: 500px;
  background-color: var(--bg-color);
  border-radius: 40px;
  position: relative;
  z-index: 5;
  margin-right: 18px;
  .fa-xmark {
    position: absolute;
    right: 20px;
    top: 18px;
    font-size: 20px;
    color: var(--black);
    padding: 10px 12px;
    border-radius: 20px;
    cursor: pointer;
    transition: ease 0.3s;
    &:hover {
      background-color: var(--hover);
    }
  }
}

.pf-close {
  width: calc(100vw);
  height: 100vh;
  background-color: rgba(var(--black-rgb2), 0.2);
  backdrop-filter: blur(2px);
  position: absolute;
  left: 0;
  z-index: 1;
}

.profile-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin-left: -50px;
  position: absolute;
}

.profile-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-top: 1px solid rgba(var(--black-rgb), 0.1);
  border-bottom: none;
  p {
    margin: 0;
  }

  &:last-child {
    border-bottom: 1px solid rgba(var(--black-rgb), 0.1);
  }
  input {
    background-color: var(--bg-color);
    font-family: $readex;
    padding: 7px;
    border: 1px solid var(--black);
    border-radius: 40px;
    width: 200px;
    color: var(--black);
    &:focus {
      outline: none;
      border: 1px solid var(--black);
      box-shadow: none;
      background-color: var(--start-page-bg);
    }
  }
  .pf-color {
    width: 26px;
    height: 26px;
    margin-right: 6px;
    padding: 0;
    border: none;
    &:focus {
      outline: none;
      border: none;
      box-shadow: none;
      background-color: none;
    }
  }
}

.profile-user-info {
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
  width: 100%;

  .profile-pfp {
    border-radius: 150px;
    height: 130px;
    width: 130px;
    margin: 0 auto;
    margin-bottom: 40px;
    border: 2px solid var(--black);
  }
}

.theme {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid rgba(var(--black-rgb), 0.1);
  width: 100%;
  p {
    margin: 0;
  }

  select {
    background-color: var(--bg-color);
    color: var(--black);
    font-family: $readex;
    padding: 10px 0px 10px 10px;
    border-radius: 10px;
    font-size: 14px;
    border: none;
    &:focus {
      outline: none;
      border: none;
      box-shadow: none;
    }
    &:hover {
      background-color: var(--light-black);
    }
  }
}

@media screen and (max-width: 900px) {
  .profile-container {
    margin-left: 0;
  }
  .profile-wrapper {
    width: 345px;
    margin: 0;
    .profile-user-info {
      .profile-info {
        p {
          font-size: 14px;
        }
      }
    }
    .theme {
      display: none;
    }
  }
}
