::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background-color: var(--white);
}

::-webkit-scrollbar-thumb {
  background: var(--grey);
  border-radius: 10px;
}

.editor-container {
  height: 100%;
  width: calc(100vw - 442px);
  background-color: var(--white);
  border-radius: 10px;
  color: var(--black);
  overflow: hidden;
}

.editor-wrapper {
  border-radius: 10px;
  position: relative;
  height: 100%;
}

.scroll-wrapper {
  overflow-y: auto; /* Change to auto instead of scroll for better behavior */
  position: absolute; /* Position it absolutely */
  top: 110px; /* Position it directly below the fixed header */
  bottom: 0;
  width: calc(100vw - 442px);
  padding: 0; /* Remove all padding */
  margin: 0; /* Remove all margins */
}

.docseditor-container {
  width: 816px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 20px auto 40px auto; /* Keep some margin for spacing */
  padding: 0; /* Remove the padding that's causing issues */
}

.editor-tools-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 110px;
  padding: 0px;
  width: calc(100vw - 442px);
  border-radius: 10px 10px 0 0;
  background-color: var(--editor-grey);
  z-index: 3;
  position: fixed;
  top: 12px;
}

.editor-tools {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 96%;
  height: 40px;
  margin: 6px auto 6px auto;
  background-color: var(--editor-grey2);
  border-radius: 40px;
  .tools {
    width: 100%;
    padding: 0px 10px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
  }
}

.editor-tools-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  width: 100%;
  padding: 0 20px 0 0;
  //max-height: 50%;
}

.character-counter {
  color: var(--black);
  display: flex;
  flex-direction: column;
  p {
    margin: 0;
    font-size: 12px;
  }
}

.element {
  outline: none;
  background-color: var(--editor-white);
  border: 1px solid var(--grey);
  display: flex;
  flex-direction: column;
  min-height: 1056px;
  width: 816px;
  padding: 10px 14px;
  cursor: text;
  margin-bottom: 40px;
}

.editor {
  background-color: var(--white);
}

.tiptap > *:first-child {
  margin-top: 0;
}

.tiptap {
  font-size: 12px;

  /* List styles */
  ul,
  ol {
    padding: 0 1rem;
    margin: 1.25rem 1rem 1.25rem 0.4rem;

    li p {
      margin-top: 0.25em;
      margin-bottom: 0.25em;
    }
  }

  ul li {
    list-style-type: disc;

    p {
      margin-top: 0.25em;
      margin-bottom: 0.25em;
    }
  }

  ol li {
    list-style-type: decimal;

    p {
      margin-top: 0.25em;
      margin-bottom: 0.25em;
    }
  }

  /* Task list specific styles */
  ul[data-type="taskList"] {
    list-style: none;
    margin-left: 0;
    padding: 0;

    li {
      align-items: flex-start;
      display: flex;
      margin-top: 4px;

      > label {
        flex: 0 0 auto;
        margin-right: 0.5rem;
        user-select: none;
      }

      > div {
        flex: 1 1 auto;
        margin-top: -4px;
      }
    }

    input[type="checkbox"] {
      cursor: pointer;
    }

    ul[data-type="taskList"] {
      margin: 0;
    }
  }

  /* Heading styles */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.1;
    margin-top: 2.5rem;
    text-wrap: pretty;
  }

  h1,
  h2 {
    margin-top: 3.5rem;
    margin-bottom: 1.5rem;
  }

  h1 {
    font-size: 1.4rem;
    text-align: start;
  }

  h2 {
    font-size: 1.2rem;
  }

  h3 {
    font-size: 1.1rem;
  }

  h4,
  h5,
  h6 {
    font-size: 1rem;
  }

  /* Table-specific styling */
  table {
    border-collapse: collapse;
    margin: 0;
    overflow: hidden;
    table-layout: fixed;
    width: 100%;
    border-radius: 4px;
    td,
    th {
      border: 1px solid var(--black);
      box-sizing: border-box;
      min-width: 1em;
      padding: 8px;
      position: relative;
      vertical-align: top;

      > * {
        margin-bottom: 0;
      }

      p {
        color: var(--black);
      }
    }

    th {
      background-color: var(--editor-grey2);
      font-weight: bold;
      text-align: left;
    }

    .selectedCell:after {
      background: rgba($color: #2d6de3, $alpha: 0.3);
      content: "";
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      pointer-events: none;
      position: absolute;
      z-index: 2;
    }

    .column-resize-handle {
      background-color: var(--blue);
      bottom: -2px;
      pointer-events: none;
      position: absolute;
      right: -2px;
      top: 0;
      width: 4px;
    }
  }

  .tableWrapper {
    margin: 1.5rem 0;
    overflow-x: auto;
  }

  &.resize-cursor {
    cursor: ew-resize;
    cursor: col-resize;
  }

  /* TipTap Image Styling */
  img {
    display: block;
    height: auto;
    margin: 1.5rem 0;
    max-width: 100%;

    &.ProseMirror-selectednode {
      outline: 3px solid var(--blue);
    }
  }

  /* Character count */
  .character-count {
    align-items: center;
    color: var(--grey);
    display: flex;
    font-size: 0.75rem;
    gap: 0.5rem;
    margin: 1.5rem;

    svg {
      color: var(--primary);
    }

    &--warning,
    &--warning svg {
      color: var(--black);
    }
  }
}

@media print {
  * {
    visibility: hidden;
    overflow: visible !important;
    color: inherit !important;
  }

  .docseditor-container,
  .element,
  .element * {
    visibility: visible;
    position: relative;
  }

  .element {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    max-width: 100% !important;
    height: auto;
    padding: 10px !important;
    margin: 0 auto !important;
    border: none !important;
    min-height: 0;
    box-sizing: border-box;
    transform: translateX(0) !important;
  }

  table {
    width: 100% !important;
    max-width: 100% !important;
    table-layout: fixed;
    margin: 1em auto !important;
    border-collapse: collapse;
    left: 0 !important;
    right: 0 !important;
  }

  th,
  td,
  tr {
    border: 1px solid black !important;
    padding: 8px !important;
    width: auto !important;
  }

  //   th:first-child {
  //     border-right: 1px solid black !important;
  //     border-left: 0.135rem solid black !important;
  //   }
  //   td:first-child {
  //     border-left: 0.135rem solid black !important;
  //   }
  th {
    background-color: #d8d8d8;
  }

  .editor-tools,
  .chat-container,
  nav,
  .swapy-drag,
  button,
  .swapy-container > *:not([data-swapy-slot="a"]) {
    display: none !important;
  }

  .editor-wrapper,
  .editor-container,
  .docseditor-container {
    padding: 0 !important;
    margin: 0 auto !important;
    width: 100% !important;
    height: auto !important;
    overflow: visible !important;
    position: static !important;
    background-color: white !important;
    left: 0 !important;
    right: 0 !important;
    transform: translateX(0) !important;
  }

  @page {
    size: auto;
    margin: 10mm 10mm;
  }

  .tiptap {
    display: block !important;
    width: 100% !important;
    max-width: 100% !important;
    margin: 0 auto !important;
    padding: 0 !important;
    text-align: left !important;
  }

  .docseditor-container {
    width: 90% !important;
    max-width: 90% !important;
    margin: 0 auto !important;
    left: 0 !important;
    right: 0 !important;
  }

  body,
  html {
    margin: 0 !important;
    padding: 0 !important;
    width: 100% !important;
    height: 100% !important;
    text-align: center !important;
  }

  .content-wrapper-v2,
  .bg-wrapper,
  .app-container {
    transform: none !important;
    position: static !important;
    margin: 0 auto !important;
    width: 100% !important;
  }
}
