$readex: "Readex Pro", sans-serif;

$reg: 300;
$med: 500;
$semib: 600;
$bold: 700;

$primary: #c61a34;
$white: #f1f1f1;
$black: #101010;
$light-black: #1f1f1f;
$grey: #b0b0b0;
$dark-grey: #a7a7a7;
$startpage-btn: #cb1a35;
$primary-btn: #da1c39;
